<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.lq2007.mobilesafe">

    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 电话 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 开机 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 屏幕 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/security"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplishActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.items.SettingActivity" />
        <activity android:name=".activity.items.FindActivity" />
        <activity android:name=".activity.items.findLeader.SIMActivity" />
        <activity android:name=".activity.items.findLeader.WelcomeActivity" />
        <activity android:name=".activity.items.findLeader.NumberActivity" />
        <activity android:name=".activity.items.findLeader.FinalActivity" />
        <activity android:name=".activity.items.findLeader.ContactActivity" />
        <activity android:name=".activity.items.AToolsActivity" />
        <activity android:name=".activity.items.atools.PhoneActivity" />
        <activity android:name=".activity.items.setting.ToastActivity" />
        <activity android:name=".activity.items.setting.ToastLocationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <receiver android:name=".receiver.BootCompleteReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SMSReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SafeDeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>


        <service
            android:name=".service.GPSService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.PhoneService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>